.inputBarToDoList {
    border-radius: 10px !important;
    border: outset;
    border-color: white;
    border-width: 0.1px;
    width: 300px;
    box-sizing: border-box;
    padding: 12px 8px;
    text-align: left;
    position: relative;
    left: 51.5%;
    transform: translateX(-52.5%);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
