.inputBarToDoList {
    border-radius: 10px !important;
    border-style: solid;
    border: outset;
    border-color: white;
    width: 300px;
    box-sizing: border-box;
    padding: 12px 8px;
    text-align: left;
    position: relative;
    left: 51.2%;
    transform: translateX(-51%);
}
